*                    { margin: 0; padding: 0; background: #eee;}
body                 { font: 16px Georgia, serif; }

#page-wrap           { margin: 2% auto; color: white; }
#page-wrap > .main   { border: 1px solid #999; padding: 1%; 
	                     margin-bottom: 1px; color: black;}

section > div        { padding: 20px; }
header, nav, section { background: #eee; text-align: center;}

footer               { background: #eee; text-align: center;}
nav span             { margin: 0px 10px 0px 0px;}

/*
nav span             { margin: 0px 10px 0px 0px;
                       width: 100%;
                       display: inline-block;}

#ErrorMsgs           { color: #f61; font-size: smaler}
.right 				       {float: right;}
.quiz_img 			     { height: 150px; float: left;}

 * /

/**
a:Link{color: blue;
  font-family: "Arial,Courier new";
  font-size: 10pt;
  padding: 8px 10px 8px 10px;
  margin-bottom:10px;
  margin-top:10px;
  border-right: 1px solid #2A2C2F;
  border-left: 1px solid #2A2C2F;
  border-top: 1px solid #2A2C2F;
  border-bottom: 1px solid #2A2C2F;
  
  text-decoration: none
  }
a:Hover{font-width: bolder;
  background-color: #CCCCFF;
  color: #000000;
  font-family: "Arial,Courier new";
  font-size: 10pt;
  font-width: bolder;
  padding: 8px 10px 8px 10px;
**/
  /*
  border-right: 1px solid #2A2C2F;
  border-left: 1px solid #2A2C2F;
  border-top: 1px solid #2A2C2F;
  border-bottom: 1px solid #2A2C2F;
  */
/**  text-decoration: none
  }
a:VISITED{font-family: "Arial,Courier new";
  font-size: 10pt;
  padding: 8px 10px 8px 10px;
**/
  /*
  border-right: 1px solid #2A2C2F;
  border-left: 1px solid #2A2C2F;
  border-top: 1px solid #2A2C2F;
  border-bottom: 1px solid #2A2C2F;
  */
/**
  text-decoration: none
  }
**/
